body {
	background-color: black;
}

#random-question {
	width: 960px;
	margin: 150px auto;
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-weight: bolder;
	font-size: 90px;
}

#random-answer {
	width: 980px;
	margin: 150px auto;
	color: black;
	font-family: 'Helvetica', sans-serif;
	font-weight: bolder;
	font-size: 90px;
	background-color: white;
}

.white-background {
	background: white;
	color: black;
}

h1 {
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-weight: bolder;
	font-size: 90px;
}
